@import "../../Styles/global.scss";

#page-login {
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;

    width: 50%;
    height: 100vh;

    animation-name: floor;
    animation-duration: 3s;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      background: $red;
      margin-bottom: 32px;
      width: 257px;
      height: 95px;

      h1 {
        color: white;
        font-size: 75px;
        font-family: fantasy;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      animation-name: fade;
      animation-duration: 6s;

      .title {
        color: $red;
        font-size: 22pt;
        align-self: flex-start;
        padding: 0 0 0 25px;
      }

      .sub-title {
        color: $gray;
        font-size: 16pt;
        align-self: flex-start;
        padding: 0 25px 10px 25px;
      }

      input {
        padding: 0 25px;
        border-radius: 38px;
        width: 383px;
        height: 73px;
        font-size: 16pt;
        color: $gray;
        margin: 10px 0;
        outline: none;
      }

      .options {
        display: flex;
        justify-content: space-around;

        font-size: 14pt;
        width: 100%;
        color: $gray;
        margin: 10px 0;

        .sublin {
          text-decoration: underline;
          text-decoration-color: $red;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      button {
        border: 0;
        border-radius: 38px;
        width: 383px;
        height: 65px;
        background: $red;
        color: white;
        font-size: 20pt;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }

      p {
        color: $gray;
        margin: 10px 0 0 0;
        display: flex;
        gap: 5px;
        font-size: 14pt;

        > div {
          color: $red;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  aside {
    height: 100vh;
    float: right;
    width: 50%;

    animation-name: fade;
    animation-duration: 1s;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes floor {
  0% {
    height: 160vh;
    width: 100%;
    margin-bottom: 0;
  }
  50% {
    height: 160vh;
    width: 50%;
    margin-bottom: 0;
  }
}
