// Variables
$red: #ff0000;
$gray: #84848d;

//----
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background: black;
}

@font-face {
  font-family: "MarvelRegular";
  src: local("MarvelRegular-Dj83"),
    url(../Fonts/MarvelRegular-Dj83.ttf) format("TrueType");
  font-weight: bold;
}
