* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background: black;
  font-family: "AxiformaRegular";
}

@font-face {
  font-family: "MarvelRegular";
  src: local("MarvelRegular-Dj83"),
    url(../Fonts/MarvelRegular-Dj83.ttf) format("TrueType");
  font-weight: bold;
}

@font-face {
  font-family: "AxiformaRegular";
  src: local("AxiformaRegular"),
    url(../Fonts/AxiformaRegular.otf) format("TrueType");
  font-weight: bold;
}
